@page "/"
@using Registrar.Models;

<PageTitle>Home</PageTitle>
<div class="d-flex justify-content-between mb-3">
    <h1>Students</h1>
   
        <NavLink href="@($"/add")" class="btn btn-primary btn-sm square-button fs-4">+</NavLink>
</div>

<table class="table table-striped border border-1">
  <thead>
    <tr>
     <th class="px-5">Id</th>
      <th class="px-3">First Name</th>
      <th class="px-3">Last Name</th>
      <th class="px-3">Type</th>
      <th class="px-3">Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var student in students)
    {
      <tr>
        <td class="px-5">@student.Id</td>
        <td class="px-3">@student.FirstName  </td>
        <td class="px-3">@student.LastName</td>
        <td class="px-3">@student.Type</td>
         <td><NavLink href="@($"/register/{student.Id}")" class="text-decoration-none">Register</NavLink></td>
      </tr>
    }
  </tbody>
</table>

@code {
  List<Student> students = Helper.GetStudents();
}

<style>
  .square-button {
    width: 40px;  
    height: 40px; 
    padding: 0;   
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>    
